<div class="admin">
    <div class="sidebar">
        <div class="item">
            <mat-icon class="icon">home</mat-icon>
            <div class="text"><a href="/">Trang chủ</a></div>
        </div>
        <hr/>
        <div class="item">
            <mat-icon class="icon">dashboard</mat-icon>
            <div class="text"><a href="/admin">Dashboard</a></div>
        </div>
        <div class="item">
            <mat-icon class="icon">local_grocery_store</mat-icon>
            <div class="text"><a href="/admin/products">Sản Phẩm</a></div>
        </div>
        <div class="item">
            <mat-icon class="icon">category</mat-icon>
            <div class="text"><a href="/admin/category">Danh mục</a></div>
        </div>
    </div>
    <div class="content">
        <router-outlet />
    </div>
</div>
