<div class="container">
    <h1>Biểu Mẫu Sửa Sản Phẩm</h1>
    <form action="" [formGroup]="products" (ngSubmit)="updateProduct()">
        <label for="productName">Tên Sản Phẩm:</label>
        <input type="text" id="productName" formControlName="name" name="name" required><br><br>
        
        <label for="productName">Ảnh Sản Phẩm:</label>
        <input type="text" id="productImage" formControlName="image" name="image" required><br><br>

        <label for="productPrice">Giá Sản Phẩm:</label>
        <input type="number" id="productPrice" formControlName="price" name="price" required><br><br>

        <label for="productPrice">Số Lượng Sản Phẩm:</label>
        <input type="number" id="productQuantity" formControlName="quantity" name="quantity" required><br><br>

        <label for="productPrice">Sale Sản Phẩm:</label>
        <input type="number" id="productQuantity" formControlName="sale" name="sale" required><br><br>

        <label for="category">Danh Mục:</label>
        <select id="category" formControlName="categoryId" name="categoryId" >
            <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
        </select><br><br>

        <label for="productDescription">Mô Tả Sản Phẩm:</label><br>
        <textarea id="productDescription" formControlName="desc" name="desc" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Thêm Sản Phẩm">
    </form>
</div>
